@page "/plan/{PlanId:int}/execution/{ExecutionId:int}"
@inject IExecutionRepository executionRepository
@attribute [Authorize]

<h3>Execution Details</h3>

@if (aggregateResults == null)
{
    <p>Loading...</p>
}
else
{
    <p>
        <b>Total Requests:</b> @aggregateResults.Sum(r => r.Number)
    </p>
    @foreach (var item in aggregateResults)
    {
        <p>
            <b>Status @item.ResponseCode:</b>  @item.Number; <b>Avg. Duration:</b> @item.AverageResponseTime.ToString("0.###"), ms
        </p>
    }
}

@code {
    private IEnumerable<AggregateResult> aggregateResults;

    [Parameter] public int PlanId { get; set; }
    [Parameter] public int ExecutionId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        aggregateResults = await executionRepository.GetAggregateResult(ExecutionId);
    }
}
