@page "/plan/create"

@inject NavigationManager navManager
@inject IPlanRepository planRepository
@inject IAccountsRepository accRepository

@attribute [Authorize]

<h3>Create Plan</h3>

<PlanForm Plan="plan" OnValidSubmit="SavePlan"></PlanForm>

@code {
    private Plan plan = new Plan();

    private async Task SavePlan()
    {

        plan.UserId = (await accRepository.UserId()).Id;
        await planRepository.CreatePlan(plan);
        navManager.NavigateTo("/");
    }
}
