@page "/plan/settings/{PlanId:int}"
@inject IPlanRepository planRepository

<h3>Plan Settings</h3>
<div class="d-flex flex-column">
    <div class="mb-auto p-2 bd-highlight">@plan.Name</div>
    <div class="p-2 bd-highlight">@plan.EndpointUrl</div>
    <div class="p-2 bd-highlight">@plan.UsersNumber user(s)</div>
</div>

<a href="@createStepUrl" class="btn btn-info">Create New Step</a>

<StepsList Steps="plan.Steps"></StepsList>

@code {
    private string createStepUrl;
    private Plan plan = new Plan();

    [Parameter] public int PlanId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        plan = await planRepository.GetPlanById(PlanId);
        createStepUrl = $"/plan/settings/{PlanId}/step/create";
    }
}
