<EditForm Model="@Plan" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>

    <div class="form-group">
        <label>
            Name: <InputText @bind-Value="Plan.Name"></InputText>
        </label>
    </div>
    <div class="form-group">
        <label>
            Url: <InputText class="form-control" @bind-Value="Plan.EndpointUrl"></InputText>
        </label>
    </div>
    <div class="form-group">
        <label>
            User(s): <InputNumber class="form-control" @bind-Value="Plan.UsersNumber"></InputNumber>
        </label>
    </div>
    <div class="form-group">
        <label>
            Looped: <InputCheckbox class="form-check-label" @bind-Value="Plan.IsLooped"></InputCheckbox>
        </label>
    </div>

    <div class="form-group">
        <label>
            Duration: <InputNumber class="form-control" @bind-Value="Plan.Duration"></InputNumber>
        </label>
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
</EditForm>

@code {
    [Parameter] public Plan Plan { get; set; }
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}
