<div class="d-flex flex-row">
    <div class="mr-auto p-2">
        <p>Started: @Execution.StartTime</p>
    </div>
    <div class="mr-auto p-2">
        <p>Status: @status</p>
    </div>
    <div class="p-2">
        <a class="btn btn-info" href="@detailsUrl">Details</a>
    </div>
</div>

@code {
    private string detailsUrl;
    private string status;

    [Parameter] public Execution Execution { get; set; }

    protected override void OnInitialized()
    {
        detailsUrl = $"/plan/{Execution.PlanId}/execution/{Execution.Id}";
        GetStatusName();
    }

    private void GetStatusName()
    {
        switch (Execution.Status)
        {
            case 0:
                status = "Completed";
                break;
            case 1:
                status = "Running";
                break;
            case 2:
                status = "Aborted";
                break;
            default:
                break;
        }
    }
}
