<div class="d-flex flex-row">
    <div class="mr-auto p-2">
        @Step.Resource
    </div>
    <div class="mr-auto p-2">
        @method
    </div>
    <div class="p-2">
        <a class="btn btn-info" href="@editUrl">Edit</a>
    </div>
    <div class="p-2">
        <button class="btn-warning" @onclick="@(() => OnDelete.InvokeAsync(Step))">Delete</button>
    </div>
</div>

@code {
    private string editUrl;
    private string method;

    [Parameter] public Step Step { get; set; }
    [Parameter] public EventCallback<Step> OnDelete { get; set; }

    protected override void OnInitialized()
    {
        editUrl = $"/plan/settings/{Step.PlanId}/step/edit/{Step.Id}";
        GetMethodName();
    }

    private void GetMethodName()
    {
        switch(Step.Method)
        {
            case 0:
                method = "GET";
                break;
            case 1:
                method = "POST";
                break;
            case 2:
                method = "UPDATE";
                break;
            case 3:
                method = "DELETE";
                break;
            default:
                method = string.Empty;
                break;
        }
    }
}
