@page "/plan/settings/{PlanId:int}/step/edit/{StepId:int}"
@inject IPlanRepository planRepository
@inject IStepRepository stepRepository
@inject NavigationManager navManager
@attribute [Authorize]

@if (step == null)
{
    <p>Loading...</p>
}
else
{
    <StepForm Step="step" OnValidSubmit="SaveStep"></StepForm>
}


@code {
    private Step step;

    [Parameter] public int PlanId { get; set; }
    [Parameter] public int StepId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        step = await stepRepository.GetStepById(StepId);
    }

    private async Task SaveStep()
    {
        await stepRepository.UpdateStep(step);

        navManager.NavigateTo($"/plan/settings/{PlanId}");
    }
}
