<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Key</th>
                <th scope="col">Value</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Collection)
            {
                <KeyValueRow Value="@item" Delete="@(() => DeleteItem(item))"></KeyValueRow>
            }
        </tbody>
    </table>
</div>
<div>
    <button class="btn btn-secondary" type="button" @onclick="AddItem">Add</button>
    <button class="btn btn-primary" type="button" @onclick="Save">Save</button>
</div>


@code {
    [Parameter] public List<KeyValueParameter> Collection { get; set; }
    [Parameter] public EventCallback Save { get; set; }

    private void AddItem()
    {
        Collection.Add(new KeyValueParameter());
    }

    private void DeleteItem(KeyValueParameter item)
    {
        Collection.Remove(item);
        StateHasChanged();
    }
}
