<EditForm Model="@Step" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>

    <div class="form-group">
        <label>
            Resource: <InputText class="form-control" @bind-Value="Step.Resource"></InputText>
        </label>
    </div>
    <div class="form-group">
        <label> Method: </label>
        <div>
            <InputSelect class="form-select" style="width:auto;" @bind-Value="Step.Method">
                <option value=""></option>
                <option value="0">GET</option>
                <option value="1">POST</option>
                <option value="2">PUT</option>
                <option value="3">DELETE</option>
            </InputSelect>
        </div>
    </div>
    <div class="accordion" id="accordion">
        <div class="card">
            <div class="card-header" id="parameters">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseParameters"
                            aria-expanded="true" aria-controls="collapseParameters">
                        Parameters
                    </button>
                </h2>
            </div>
            <div id="collapseParameters" class="collapse show" aria-labelledby="parameters" data-parent="#accordion">
                <div class="card-body">
                    <div class="form-group">
                        <KeyValueTable Collection="parameters" Save="SaveParameters"></KeyValueTable>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headers">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseHeaders"
                            aria-expanded="true" aria-controls="collapseHeaders">
                        Headers
                    </button>
                </h2>
            </div>
            <div id="collapseHeaders" class="collapse show" aria-labelledby="headers" data-parent="#accordion">
                <div class="card-body">
                    <div class="form-group">
                        <KeyValueTable Collection="headers" Save="SaveHeaders"></KeyValueTable>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="body">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseBody"
                            aria-expanded="true" aria-controls="collapseHeaders">
                        Body
                    </button>
                </h2>
            </div>
            <div id="collapseBody" class="collapse show" aria-labelledby="body" data-parent="#accordion">
                <div class="card-body">
                    <div class="form-group">
                        <textarea rows="10" cols="50"
                                  @bind-value="Step.Body"
                                  @bind-value:event="oninput">
                        </textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="variables">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseHeaders"
                            aria-expanded="true" aria-controls="collapseVariables">
                        Variables
                    </button>
                </h2>
            </div>
            <div id="collapseVariables" class="collapse show" aria-labelledby="variables" data-parent="#accordion">
                <div class="card-body">
                    <div class="form-group">
                        <StepVariablesTable Collection="variables" Save="SaveVariables"></StepVariablesTable>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</EditForm>

@code {
    private List<KeyValueParameter> headers;
    private List<KeyValueParameter> parameters;
    private List<StepVariable> variables;
    private string body;

    [Parameter] public Step Step { get; set; }
    [Parameter] public EventCallback OnValidSubmit { get; set; }

    protected override void OnInitialized()
    {
        var h = DeserializeJson<KeyValueParameter>(Step.Headers);
        var p = DeserializeJson<KeyValueParameter>(Step.Parameters);
        var v = DeserializeJson<StepVariable>(Step.Variables);

        headers = h == null ? new List<KeyValueParameter>() : h;
        parameters = p == null ? new List<KeyValueParameter>() : p;
        variables = v == null ? new List<StepVariable>() : v;
        body = Step.Body;
    }

    private void SaveParameters()
    {
        Step.Parameters = JsonSerializer.Serialize(parameters);
    }

    private void SaveHeaders()
    {
        Step.Headers = JsonSerializer.Serialize(headers);
    }

    private void SaveVariables()
    {
        Step.Variables = JsonSerializer.Serialize(variables);
    }

    private List<T> DeserializeJson<T>(string json) where T: class
    {
        if (string.IsNullOrEmpty(json))
            return null;

        try
        {
            return JsonSerializer.Deserialize<List<T>>(json);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            return null;
        }
    }
}